{% extends "./base.html" %}  

{% block content %} 

    <main>
        <div class="history">
            {% if jokes %}
                {% for joke in jokes %} 
                <div class="joke">
                    <h3>{{ joke.query }}</h3>
                    <a href="{% url 'delete_joke' pk=joke.id %}">
                        <span class="material-icons trash-icon">delete</span>
                    </a>
                    <p>{{ joke.response }}</p>
                </div>
                {% endfor %}
            {% endif %}
        </div>
        <div class="paginator">
            {% if jokes.has_previous %} 
                <a href="?page={{ jokes.previous_page_number }}">previous</a>
            {% else %}
                <span class="disabled">previous</span>
            {% endif %}
    
            <div class="pg-numbers">
                {% for num in jokes.paginator.page_range %}
                    {% if jokes.number == num %}
                        {{ num }}
                    {% elif num > jokes.number|add:'-5' and num < jokes.number|add:'5' %}
                        <a href="?page={{ num }}">{{ num }}</a>
                    {% endif %}
                {% endfor %}
            </div>
    
            {% if jokes.has_next %} 
                <a href="?page={{ jokes.next_page_number }}">next</a>
            {% else %}
                <span class="disabled">next</span>
            {% endif %}
        </div>
    </main>

{% endblock %}